---
layout: page
is_home: False
---

<br><br>
{% for post in site.categories[page.category] %}
	<div>
		<h2 style="margin-bottom: 0px;">
          <a class="post-link" href="{{ site.baseurl }}{{ post.url }} ">{{ post.title }}</a>
        </h2>
        <span style="font-style: italic;font-variant-ligatures: normal;font-variant-caps: normal;font-variant-numeric: normal;font-variant-east-asian: normal;font-weight: normal;font-stretch: normal;font-size: 16px;line-height: 1.55em;font-family: 'Nunito Sans script=all rev=1', 'Open Sans Condensed';	color: rgba(66,72,79,1);">{{ post.date | date: "%B %-d, %Y" }}</span>
		<br><br>
		<div class="excerpt" style="font-family: 'Nunito Sans script=all rev=1', 'Open Sans Condensed'; font-size:16px;">
            {{ post.excerpt | truncatewords: 25}}
        </div>

		<div class ="btn btn-default mybtn" onclick="window.location.href='{{ site.baseurl }}{{ post.url }}'" style="margin-top: 10px;font-family: 'Nunito Sans script=all rev=1', 'Open Sans Condensed'; font-size:16px;">Read More</div>
	</div>
	<br>
{% endfor %}