<!DOCTYPE html>
<html>
  <head>

    <meta name="description" content="Exebit is the annual festival of the Computer Science and Engineering department at IIT Madras." />
    <meta property="og:description" content="Exebit is the annual festival of the Computer Science and Engineering department at IIT Madras. " />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
    
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bootstrap.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <style type="text/css">
    	html{
    		height: 100%;
    	}

    	body{
    		display: flex;
    		flex-direction: column;
    		min-height: 100%;
    	}

    	#main {
    		flex: 1;
    	}
    </style>
  </head>

  <body>
    <div class="wrapper-masthead" style="margin-bottom: 0px;">
      <div>

        <header class="masthead clearfix" style="padding-bottom: 0px;">

          <a href="{{ site.baseurl }}/" class="site-avatar lefthead"><img src="{{ site.avatar }}" style="width: 68px; height: 80px;" /></a>
          <div class="site-info">
            <br>
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          </div>

          <nav class="righthead" style="text-align:right;">
            <!-- <br> -->
            <!-- <a href="{{ site.baseurl }}/about">exebit@cse.iitm.ac.in</a> -->
            <!-- <a href="{{ site.baseurl }}/about">123-456-7890&nbsp;</a> -->
          </nav>

          <div class="separations">
            <br><br><br><br><br>
          </div>

          <div class="header-aux">
            <ul class="lefthead">
              <li><a class="active" href="{{ site.baseurl }}/" style="padding-top: 10px; padding-bottom: 10px;font-weight:normal">Home</a></li>
              <!-- <li><a href="{{ site.baseurl }}/" style="padding-top: 10px; padding-bottom: 10px">Blog</a></li> -->
              <!-- <li><a style="padding-top: 10px; padding-bottom: 10px" href="{{ site.baseurl }}/about">Contact Us</a></li> -->
              <div class='header-icons righthead2' style="float: right; margin-top: 3px;">
                <a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><i class="fa fa-facebook myicons" aria-hidden="true" style="color: black; font-size: 1.2em;"></i></a>
                <a href="https://github.com/{{ site.footer-links.github }}"><i class="fa fa-github myicons"  style="color: black; font-size: 1.2em;"></i></a>
                <a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class=" fa fa-twitter myicons"  style="color: black; font-size: 1.2em;"></i></a>
              </div>
            </ul>
          </div>

        </header>
      </div>
    </div>

    {% if page.is_home %}
    <div class="info" style="width: 100%;">
      <div class="main-content">
        <br>
        <p style="font-weight: bold;color:rgba(255,255,255,1);text-transform: uppercase;vertical-align: baseline;text-align: center;line-height: 1.14em;font-size:88px; font-family: 'Nunito Sans script=all rev=1', 'Open Sans Condensed';">
          EXEBIT 2018
        </p>
        <p style="text-transform: uppercase; color: #38C098; text-align: center;line-height: 1.46em; letter-spacing: normal; font-size: 24px; font-family: 'Nunito Sans script=all rev=1', 'Open Sans Condensed';">
          EXPERIENCE THE FUTURE OF COMPUTER SCIENCE HERE IN <br>
          IITM
        </p>
        <br>
        <p style="color: rgba(255,255,255,1); text-align: center;line-height: 1.55em; letter-spacing: normal; font-size: 16px;font-family: 'Raleway', sans-serif;font-style: normal;font-variant-ligatures: normal;font-variant-caps: normal;font-variant-numeric: normal;font-variant-east-asian: normal;font-weight: normal;font-stretch: normal;">
          Exebit is the annual festival of the Computer Science and Engineering department at IIT Madras. Students at IIT Madras constantly innovate and have known to bring developments in technology. Get a glimpse of the research work in the CSE department at IIT Madras, learn a few coding tricks and enrich your knowledge in Computer Science through the blog posts on this page.
        </p>
        <br>
      </div>
    </div>
    {% endif %}

    <div id="main" role="main" class="container">
      <br>
      <div class="posts clearfix">
        <div class="left">
          {{ content }}
        </div>

        <div class="right">
          <br>
          <div class="side">
                  <div style="font-size:20px; border-bottom: 2px solid #eeeeef; padding-left: 0px; padding-bottom: 7px; color: rgba(66,72,79,1);">
                      Recent Posts
                  </div>
                  <div>
                      {% for post in site.posts offset: 0 limit: 10  %}
                          <div>
                            <a href="{{ site.baseurl }}{{ post.url }}" style="font-style: normal;font-variant-ligatures: normal;font-variant-caps: normal;font-variant-numeric: normal;font-variant-east-asian: normal;font-weight: normal;font-stretch: normal;font-size: 20px;line-height: 1.5em;font-family: 'Nunito Sans script=all rev=1', 'Open Sans Condensed';color: rgba(66,72,79,1);font-style: bold">{{ post.title }}</a>
                          <br><span style="font-style: italic; font-variant-ligatures: normal;font-variant-caps: normal;font-variant-numeric: normal;font-variant-east-asian: normal;font-weight: normal;font-stretch: normal;font-size: 16px;line-height: 1.55em;font-family: 'Nunito Sans script=all rev=1', 'Open Sans Condensed';color: rgba(66,72,79,1);">{{ post.date | date: "%B %-d, %Y" }}</span>
                        </div>
                      <br>
                      {% endfor %}
                  </div>
              </div>
              <br>
          <div class="side">
            <div style="font-size:20px; border-bottom: 2px solid #eeeeef; padding-left: 0px; padding-bottom: 7px; color: rgba(66,72,79,1);">
              Categories
            </div>
            <div style="padding-top: 10px;">
              {% for category in site.categories %}
              <div>
                <span class="badge">{{ category | last | size }}</span>
                <a href="{{ site.baseurl }}/category/{{ category | first }}" >
                  <span class="name" style="font-size: 0.7em; font-style: italic;">
                    {{ category | first }}
                  </span>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-footer">
      <div style="max-width: 100%">
        <footer class="footer">
          <div style="font-size: 90%">
            exebit@cse.iitm.ac.in<br>
            <!-- Contact information: 1234432112<br> -->
            Indian Institute of Technology Madras
          </div>

          <div style="margin-top: 10px; color: white;">
            {% include svg-icons.html %}
          </div>

        </footer>
        <div class="footer-aux">
          © Exebit WebOps 2018
        </div>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
